@model TSOnline.Models.TRASUA

@{
    ViewBag.Title = "Details";

}

<div class="product_image_area section_padding">
    <div class="container">
        <div class="row s_product_inner justify-content-between">
            <div class="col-lg-7 col-xl-7">
                <div class="product_slider_img">
                    <div id="vertical">
                        <div data-thumb="~/img/@Model.TenTS">
                            <img src="~/img/@Model.Anhbia" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="s_product_text">
                    <h3>@Model.TenTS</h3>
                    <h2>@String.Format("{0:0,0}", Model.Giaban) VNĐ</h2>
                    <ul class="list">
                        <li>
                            <a class="active">
                                <h4>Loại</h4>  @Html.DisplayFor(model=>model.LOAI.TenLoai)
                            </a>
                        </li>
                    </ul>
                    <div class="card_area d-flex justify-content-between align-items-center">
                        <a class="btn_1" href="@Url.Action("Edit","Admin",new { id = Model.MaTS})">Sửa</a>
                        <a class="btn_1" href="@Url.Action("TraSua","Admin")">Trở lại danh sách</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    

